*.o
*.so


.vscode


*.pyc
__pycache__

*~
~*

src/edttake
_savefits*
exitreport-*
camstack.egg-info
config/first_tmp.cfg
config/vampires_tmp.cfg

camstack/core/make_cset_and_rt
camstack/core/make_cset_and_rt.o
camstack/core/make_cset_and_rt.c

dump/
build/
