#
# Andor Ixion 897 (VAMPIRES, FIRST)
# Single tap, single cable, 16 bit
# NO SERIAL OVER CAMLINK SUPPORT (tricksy, but hey)
# NO PROPER SUPPORT FOR NON QUAD ROIs
# Full frame 512x512
#

camera_class:                  "FIRST"
camera_model:                  "Andor iXon Ultra 897 16-bit"
camera_info:                   "512x512 (single ch., freerun)"

# actual width/height (total pixels) and depth of data from camera
# to only grab high 8-bits, set depth to 8 but leave extdepth set
# to actual depth, and adjust shift and mask accordingly
width:                         SED_HW_HERE
height:                        SED_HW_HERE
depth:                         16
extdepth:                      16

# bits 0-3: number of bits per pixel minus 1
# bits 4-7: number of taps minus 1
CL_DATA_PATH_NORM:              0f	# single tap

# camera link config register bits
# (arg is a 2-digit hex value, hexval shown in parens):
# 0 (01): RGB (set for RGB (except bayer). Applies to older/PCI, ignored on newer/PCIe)
# 1 (02): ignore data valid (on for most cameras though not all)
# 2 (04): generate an FVAL on every LVAL, for line scan cameras
# 3 (08): disable ROI (rarely set)
# 4 (10): generate an FVAL after every vactv lines, for line scan cameras
# 5 (20): data valid invert (rare)
# 6 (40): RGB swap -- swap red/blue
# 7 (80): enable roi pad: if ROI > img output, will pad missing bytes
CL_CFG_NORM:          02
